*{
    margin: 0;
    padding: 0;
}

.parentDiv{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(178, 178, 178);
    border: orangered 1px solid;
}

.parentDiv div h5{
    margin-left: 3%;
}

.inputText{
    padding: 3%;
    border: none;
}

div div label b {
    padding-left: 2%;
}

.div1 {
    background-color: orangered;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.div2 {
    background-color: rgb(218, 218, 218);
    text-align: left;
    display: inline-block;
}
.div3 {
    background-color: rgb(218, 218, 218);
    display: inline-block;
}

.btnReportComment{
    height: 100%;
}