.parentDiv{
    margin: auto;
    background-color: rgb(213, 213, 213);
    padding: 2%;
    width: 30%;
    text-align: center !important;
    margin-top: 2%;
    border: 1px solid orangered;
    border-radius: 5%;
}

.btn:hover{
    background-color: orangered;
    color: white;
}