<div class="parentDiv">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordF()">
        <h1>Change password</h1><br><br>
        <p>
            <b>Old password</b><br>
            <input [formControlName]="'oldPassword'" type="password"
                class="form-control form-control-lg" style="text-align: center;">
                <label *ngIf="passwordError" style="color: red;">Old password is wrong!</label>
        </p>
        <p>
            <b>New password</b><br>
            <input [formControlName]="'newPassword'" type="password"
                class="form-control form-control-lg" style="text-align: center;">
        </p>
        <label *ngIf="error">User not found!</label><br>
            <button class="btn btn-dark" style="margin-right: 2%;">Submit</button>
    </form>
    
   
</div>