*{
    margin: 0;
    padding: 0;
}

.parentDiv{
    background-color: rgb(178, 178, 178);
    border: orangered 1px solid;
}

.parentDiv div h5{
    margin-left: 3%;
}

.inputText{
    padding: 3%;
    border: none;
}

.buttonCreate{
    width: 100%;
    border: none;
    border-top: orangered 1px solid;
    background-color: rgb(133, 133, 133);
    transition: 0.2s;
}
.buttonCreate:hover{
    background-color: black;
    color: white;
    width: 100%;
    border: none;
    border-top: orangered 1px solid;
    transition: 0.2s;
}