.topContainer{
    width: 65%;
    margin: auto;
    margin-top: 3%;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid;
    background-color: rgb(219, 219, 219);
}
.podDiv {
   width: 100%;
   text-align: center !important;
}

 .inputs{
    padding-top: 3%;
 }
 
 .selectDiv{
   text-align: center;
 }
 .selectDiv select{
   padding: 10px;
   font-size: 16px;
 }

 button{
   padding: 10px;
   border-radius: 20px;
 }