<div class="topContainer">
    <div class="podDiv mb-3">
      <h2>Create new post:</h2>
    </div>
    
    <form>
      <div class="inputs mb-3">
        <h4>Title:</h4>
        <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" required>
      </div>
  
      <div class="inputs mb-3">
        <h4>Text:</h4>
        <input type="text" class="form-control" placeholder="Text" aria-label="Username" aria-describedby="basic-addon1" required>
      </div>

      <div class="podDiv">
        <button>Create post</button>
      </div >
      
    </form>

    
</div>
