<div class="topContainer">
    <div class="podDiv mb-2">
      <h2>Create new community:</h2>
    </div>

    <form [formGroup]="communityForm" #communityFormHtml="ngForm" (ngSubmit)="createCommunity()">

      <div class="inputs mb-3">
        <h4>Picture:</h4>
        <input type="file" class="form-control" (change)="onFileChanged($event)">
      </div>

      <div class="inputs mb-3">
        <h4>Name:</h4>
        <input type="text" [formControlName]="'name'" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" required>
        <span *ngIf="!communityForm.controls['name'].valid && communityForm.controls['name'].touched">
          Please type a name of community!
        </span>
      </div>



      <div class="inputs mb-3">
        <h4>Description:</h4>
        <input type="text" [formControlName]="'description'" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon1" required>
        <span *ngIf="!communityForm.controls['description'].valid && communityForm.controls['description'].touched">
          Please type description of community!
        </span>
      </div>

      <div class="inputs mb-3">
        <h4>Flair:</h4>
        <input type="text" [formControlName]="'flair'" class="form-control" placeholder="Flair" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="inputFlair">
        <button [disabled]="inputFlair===''" (click)="addFlair(inputFlair)" type="button">Add flair</button><p *ngFor="let flair of flairs">{{flair.name}}</p>
      </div>

      <div class="inputs mb-3">
        <h4>Rule:</h4>
        <input type="text" [formControlName]="'rule'" class="form-control" placeholder="Flair" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="inputRule">
        <button [disabled]="inputRule===''" (click)="addRule(inputRule)" type="button">Add rule</button><p *ngFor="let rule of rules">{{rule.description}}</p>
      </div>

      <div class="podDiv">
        <button [disabled]="!communityFormHtml.form">Create community</button>
      </div>
    </form>




</div>
