.topContainer{
    width: 65% ;
    margin: auto;
    margin-top: 30px;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: solid;
    background-color: rgb(219, 219, 219);
}
.podDiv {
   width: 100%;
   text-align: center !important;
}

.podDiv input{
   width: 25%;
   text-align: center;
   border-radius: 20px;
}

 .inputs{
    padding-top: 1%;
 }
 