<div class="container w-70 mt-5">
  <mat-card class="community-component" style="background-color: gray">

    <form [formGroup]="formGroup">

      <div class="col">
        <div class="row mb-5">
          <span class="d-flex justify-content-center mt-3" style="font-size: 30px">Post search:</span>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="row-cols-1">
          <label>
            <input type="checkbox" [formControlName]="'commentCheckbox'" (change)="toggleCommentInput()">
            <span>Enable Comment Search</span>
          </label>
        </div>
        <div class="row-cols-1">
          <label>
            <input type="checkbox" [formControlName]="'flairCheckbox'" (change)="toggleFlairInput()">
            <span>Enable Flair Search</span>
          </label>
        </div>
      </div>

      <div class="row m-3">

        <div class="col-2">
          <div class="row-cols-1">
            <span>Title</span>
          </div>
          <div class="row-cols-1">
            <input type="text" class="form-control"
                   [formControlName]="'title'"
                   [class.invalid-field]="formGroup.get('title')?.invalid">
          </div>
        </div>

        <div class="col-2">
          <div class="row-cols-1">
            <span>Text</span>
          </div>
          <div class="row-cols-1">
            <input type="text" class="form-control"
                   [formControlName]="'text'"
                   [class.invalid-field]="formGroup.get('text')?.invalid">
          </div>
        </div>

        <div class="col-1">
          <div class="row-cols-1">
            <span>MinComments</span>
          </div>
          <div class="row-cols-1">
            <input type="number" class="form-control"
                   [formControlName]="'minComments'"
                   [class.invalid-field]="formGroup.get('minComments')?.invalid">
          </div>
        </div>

        <div class="col-1">
          <div class="row-cols-1">
            <span>MaxComments</span>
          </div>
          <div class="row-cols-1">
            <input type="number" class="form-control"
                   [formControlName]="'maxComments'"
                   [class.invalid-field]="formGroup.get('maxComments')?.invalid">
          </div>
        </div>

        <div class="col-1">
          <div class="row-cols-1">
            <span>MinKarma</span>
          </div>
          <div class="row-cols-1">
            <input type="number" class="form-control"
                   [formControlName]="'minKarma'"
                   [class.invalid-field]="formGroup.get('minKarma')?.invalid">
          </div>
        </div>

        <div class="col-1">
          <div class="row-cols-1">
            <span>MaxKarma</span>
          </div>
          <div class="row-cols-1">
            <input type="number" class="form-control"
                   [formControlName]="'maxKarma'"
                   [class.invalid-field]="formGroup.get('maxKarma')?.invalid">
          </div>
        </div>

        <div class="col-2">
          <div class="row-cols-1">
            <span>PdfDescription</span>
          </div>
          <div class="row-cols-1">
            <input type="text" class="form-control"
                   [formControlName]="'pdfDescription'"
                   [class.invalid-field]="formGroup.get('pdfDescription')?.invalid">
          </div>
        </div>

        <div class="col-2">
          <div class="row-cols-1">
            <span>CommentWordFind</span>
          </div>
          <div class="row-cols-1">
            <input type="text" class="form-control"
                   [formControlName]="'commentWordFind'"
                   [class.invalid-field]="formGroup.get('commentWordFind')?.invalid">
          </div>
        </div>

        <div class="col mt-3">
          <div class="row-cols-1 ">
            <span class="d-flex justify-content-center">Flair</span>
          </div>
          <div class="row-cols-1 d-flex justify-content-center">
            <input type="text" class="input-flair form-control "
                   [formControlName]="'flair'"
                   [class.invalid-field]="formGroup.get('flair')?.invalid">
          </div>
        </div>

      </div>

      <div class="row m-3">

        <div class="col-5 d-flex align-items-center justify-content-center">
          <div>
            <p class="radio-header">Search Accuracy:</p>
            <label class="radio-label">
              <input type="radio" formControlName="searchAccuracy" value="OR">
              <div class="radio-text">OR</div>
            </label>
            <label class="radio-label">
              <input type="radio" formControlName="searchAccuracy" value="AND">
              <div class="radio-text">AND</div>
            </label>
          </div>
        </div>

        <div class="col-2 d-flex align-items-center justify-content-center">
          <button class="btn btn-danger w-100" (click)="search()">Search</button>
        </div>

        <div class="col-5 d-flex align-items-center justify-content-center">
          <div>
            <p class="radio-header">Search Type:</p>
            <label class="radio-label">
              <input type="radio" formControlName="searchType" value="FUZZY">
              <div class="radio-text">FUZZY</div>
            </label>
            <label class="radio-label">
              <input type="radio" formControlName="searchType" value="PHRASE">
              <div class="radio-text">PHRASE</div>
            </label>
          </div>
        </div>
      </div>

    </form>

  </mat-card>

  <app-post-elastic-list [postElasticList]="postElasticList"></app-post-elastic-list>


</div>

