.logo {
    width: 20%;
}

.logo:hover {
  cursor: pointer;
}

.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  background-color: orangered;
}

.right {
  margin-left: auto;
  float: right;
}

.left {
  float: left;
}
