<section style="margin-top: 2%;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form #signupFormHtml="ngForm" [formGroup]="signupForm" (ngSubmit)="signUp()">

                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Userame</label>
                  <input [formControlName]="'username'" type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                  <p style="margin: 0px !important;">
                    <span *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched">
                      Please type a valid username
                    </span>
                    <span *ngIf="this.isExist" style="color: red;">
                      User already exist!
                    </span>
                  </p>
                  <br>
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input [formControlName]="'email'" type="text" id="form3Example1cg" class="form-control form-control-lg"/>
                  <span *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
                    Please type a valid email
                    <br>
                  </span><br>
                  

                  

                  <label class="form-label" for="form3Example4cg">Password</label>
                  <input [formControlName]="'password'"  type="password" id="form3Example4cg" class="form-control form-control-lg" />
                  <span *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched">
                    Please type a valid password
                    <br>
                </span><br>

                  
                  <label class="form-label" for="form3Example4cdg">Display Name</label>
                  <input [formControlName]="'displayName'"  type="text" id="form3Example4cdg" class="form-control form-control-lg" />
                  <span *ngIf="!signupForm.controls['displayName'].valid && signupForm.controls['displayName'].touched">
                    Please type a valid Display Name
                    <br>
                </span><br>

                  
                  <label class="form-label" for="form3Example4cdg">Avatar</label>
                  <input [formControlName]="'avatar'"  type="text" id="form3Example4cdg" class="form-control form-control-lg" required/>
                  <span *ngIf="!signupForm.controls['avatar'].valid && signupForm.controls['avatar'].touched">
                    Please type a valid avatar
                    <br>
                </span><br>

                  <label class="form-label" for="form3Example4cdg">Description</label>
                  <input [formControlName]="'description'"  type="text" id="form3Example4cdg" class="form-control form-control-lg" required/>
                  <span *ngIf="!signupForm.controls['description'].valid && signupForm.controls['description'].touched">
                    Please type a valid description
                    <br>
                </span><br>

                </div>
                
                <div class="d-flex justify-content-center">
                  <button type="submit" [disabled]="!signupFormHtml.form.valid"
                    class="btn btn-dark btn-block btn-lg gradient-custom-4 text-white">Register</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>