<div class="row mt-4 parrentDiv">
    <div class="col-1 div1">
        <b>Vote</b>
        <app-vote [post]=post>Karma</app-vote>
    </div>
    <div class="col-11 div2">
        <div class="row">
            <div class="col-10">
                <p>
                    <span>
                        Community: <a (click)="openOneCommunity(post.community!.id)" class="communityLink"><b>r/{{post.community?.name}}</b></a>
                    </span>
                    <span style="margin-left: 20px;">
                        Posted:<b>{{post.creationDate}}</b>
                    </span>         
                    <span style="margin-left: 20px;">
                        Posted by: <b>{{post.user?.displayName}}</b>
                    </span>
                    <span style="margin-left: 20px;" *ngIf="flairExist && !post.flair?.deleted">
                        Flair: <b>{{post.flair?.name}}</b>
                    </span>
                </p>
            </div>
            <div class="col-2" *ngIf="user.id != 0">
                <a class="reportButton" (click)="report()">Report</a>
                <img *ngIf="post.user?.id == user.id" class="trashPicture" (click)="deletePost(post.id)" src="assets/trash.png" alt="trash">
            </div>
        </div>
        <h5>Title: {{post.title}}</h5>
        <p class="text">Text: {{post.text}}</p>
        <div>
            <app-create-comment [post]="post" (addComment)="addComment($event)"></app-create-comment>
        </div>
        <div class="commentSort" *ngIf="postComments.length != 0">
            <h5>Sort comments:</h5>
            <a (click)="sortTop()">Top</a>
            <a (click)="sortNew()">New</a>
            <a (click)="sortOld()">Old</a>
        </div>
        <div *ngFor="let comment of postComments">
            <app-comment [comment]="comment"></app-comment>
        </div>
    </div>

</div>