<div class="row mt-4">
    <div class="col-1 div1">
        Vote
    </div>
    <div class="col-11 div2">
        <div>
            <p>
                <span>
                    Community: <b>r/{{post.community.name}}</b>
                </span>
                <span style="margin-left: 20px;">
                    Posted:<b>{{post.creationDate}}</b>
                </span>         
                <span style="margin-left: 20px;">
                    Posted by: <b>{{post.user.username}}</b>
                </span>
            </p>
        </div>

        <p><b>Title: {{post.title}}</b></p>
        <p>Text: {{post.text}}</p>
    </div>
</div>