<div class="row mt-4">
    <div class="col-1 div1">
        aaa
    </div>
    <div class="col-11 div2">
        <div>
            <p>
                <span>
                    Community id: {{post.communityID}}
                </span>
                <span style="margin-left: 20px;">
                    Posted:<b>{{post.creationDate}}</b>
                </span>         
                <span style="margin-left: 20px;">
                    Posted by: {{post.userId}}
                </span>
            </p>
        </div>

        <p><b>Title: {{post.title}}</b></p>
        <p>Text: {{post.text}}</p>
    </div>
</div>